<template>
  <div>
    <div><h2>Add Student</h2></div>
    <b-form @submit="onSubmit" v-if="show">
      <b-form-group id="input-group-1" label="First Name" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.firstName"
          type="text"
          required
          placeholder="Enter student's first name"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-2" label="Last Name" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.lastName"
          type="text"
          required
          placeholder="Enter student's last name"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-3" label="PESEL" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.pesel"
          type="number"
          required
          placeholder="Enter student's PESEL"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-4" label="Class" label-for="input-4">
        <b-form-select
          id="input-4"
          v-model="form.Classes_IdClasses"
          :options="classes"
          required
        ></b-form-select>
      </b-form-group>
      <b-form-group id="input-group-5" label="Email" label-for="input-5">
        <b-form-input
          id="input-5"
          v-model="form.email"
          type="email"
          placeholder="Enter student's email"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="info">Add</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "addStudent",
  data() {
    return {
      form: {
        firstName: "",
        lastName: "",
        pesel: null,
        age: 0,
        gender: "",
        email: "",
        Classes_IdClasses: 0
      },
      classes: [],
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      let pesel = this.form.pesel;
      let now = new Date();
      evt.preventDefault();
      let yearFromPesel = 1900 + parseInt(pesel[0] * 10) + parseInt(pesel[1]);
      if (pesel[2] >= 2) {
        yearFromPesel += Math.floor(pesel[2] / 2) * 100;
      }
      this.form.age = now.getFullYear() - yearFromPesel;
      this.form.gender = this.form.pesel[9] % 2 == 1 ? "m" : "f";
      axios.post("http://localhost:3000/students", this.form).then(() => {
        alert(
          `Added ${this.form.firstName} ${this.form.lastName} to database.`
        );
      });
    }
  },
  mounted() {
    axios.get("http://localhost:3000/classes").then(res => {
      res.data.map(klasa => {
        this.classes.push({ text: klasa["Symbol"], value: klasa["idClasses"] });
      });
    });
  }
};
</script>
