<template>
  <div>
    <h2>Edit Student {{ id }}</h2>
    <div class="row">
      <div class="col">
        <b-form @submit="onSubmit">
          <b-form-group
            id="input-group-1"
            label="First Name"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.FirstName"
              type="text"
              required
              placeholder="Enter student's first name"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="Last Name"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.LastName"
              type="text"
              required
              placeholder="Enter student's last name"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-3" label="PESEL" label-for="input-3">
            <b-form-input
              id="input-3"
              v-model="form.PESEL"
              type="number"
              required
              placeholder="Enter student's PESEL"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-4" label="Class" label-for="input-4">
            <b-form-select
              id="input-4"
              v-model="form.Classes_idClasses"
              :options="classes"
              required
            ></b-form-select>
          </b-form-group>
          <b-form-group id="input-group-5" label="Email" label-for="input-5">
            <b-form-input
              id="input-5"
              v-model="form.Email"
              type="email"
              placeholder="Enter student's email"
            ></b-form-input>
          </b-form-group>
          <div class="row">
            <div class="col">
              <b-button type="submit" variant="info">Edit</b-button>
            </div>
            <div class="col">
              <b-button @click="onDisable" variant="danger">Disable</b-button>
            </div>
          </div>
        </b-form>
      </div>
      <div class="col">
        <Grades :id="this.id"></Grades>
      </div>
    </div>
  </div>
</template>

<script>
import Grades from "../components/Grades.vue";
import axios from "axios";

export default {
  components: { Grades },
  props: ["id"],
  data() {
    return {
      form: {
        FirstName: "",
        LastName: "",
        PESEL: null,
        age: null,
        gender: null,
        Email: "",
        isActive: "",
        Classes_idClasses: null
      },
      classes: []
    };
  },
  created() {
    axios.get(`http://localhost:3000/students/${this.id}`).then(res => {
      this.form = { ...res.data[0] };
    });
    axios.get("http://localhost:3000/classes").then(res => {
      res.data.map(klasa => {
        this.classes.push({ text: klasa["Symbol"], value: klasa["idClasses"] });
      });
    });
  },
  methods: {
    onSubmit(evt) {
      let pesel = this.form.PESEL;
      let now = new Date();
      evt.preventDefault();
      let yearFromPesel = 1900 + parseInt(pesel[0] * 10) + parseInt(pesel[1]);
      if (pesel[2] >= 2) {
        yearFromPesel += Math.floor(pesel[2] / 2) * 100;
      }
      this.form.age = now.getFullYear() - yearFromPesel;
      this.form.gender = pesel[9] % 2 == 1 ? "m" : "f";
      axios
        .put(`http://localhost:3000/students/${this.id}`, this.form)
        .then(() => {
          alert(`Updated ${this.form.FirstName} ${this.form.LastName}.`);
        });
    },
    onDisable() {
      axios.delete(`http://localhost:3000/students/${this.id}`).then(() => {
        alert(
          `${this.form.FirstName} ${this.form.LastName} successfully disabled.`
        );
      });
    }
  }
};
</script>
