<template>
  <div>
    <div>
      <h2>Students</h2>
    </div>
    <div>
      <b-table
        @row-clicked="editStudent"
        striped
        hover
        :items="students"
        :fields="studentsFields"
      ></b-table>
    </div>
    <div>
      <b-button to="students/new">Add Student</b-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "students",
  data() {
    return {
      studentsFields: ["firstName", "lastName", "age", "email", "class"],
      students: []
    };
  },
  mounted() {
    axios.get("http://localhost:3000/students").then(res => {
      res.data.map(student => {
        if (student["isActive"] == "t") {
          student = { ...student, _rowVariant: "info" };
        } else {
          student = { ...student, _rowVariant: "danger" };
        }
        this.students.push(student);
      });
    });
  },
  methods: {
    editStudent(evt) {
      this.$router.push({
        path: `/students/${evt.idStudents}`,
        params: { id: evt.idStudents }
      });
    }
  }
};
</script>
