<template>
  <div>
    <div>
      <h2>Teachers</h2>
    </div>
    <div>
      <b-table striped hover :items="teachers"></b-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "teachers",
  data() {
    return {
      teachers: []
    };
  },
  mounted() {
    axios.get("http://localhost:3000/teachers").then(res => {
      res.data.map(teacher => {
        if (teacher["isActive"] == "t") {
          teacher = { ...teacher, _rowVariant: "info" };
        } else {
          teacher = { ...teacher, _rowVariant: "danger" };
        }
        this.teachers.push(teacher);
      });
    });
  }
};</script
>>
