<template>
  <div>
    <b-table striped hover :items="grades"></b-table>
    <b-button v-b-modal.newGrade variant="info">New</b-button>

    <b-modal id="newGrade" @ok="addGrade">
      <b-form-group id="subject" label="Subject:" label-for="subject">
        <b-form-select
          id="subject"
          v-model="newGrade.Subjects_idSubjects"
          :options="subjects"
          required
        ></b-form-select>
      </b-form-group>
      <b-form-group id="value" label="Value:" label-for="value">
        <b-form-input
          id="value"
          v-model="newGrade.value"
          min="1"
          max="6"
          step="0.5"
          required
          type="number"
          placeholder="Enter grade value"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="weight" label="Weight:" label-for="Weight">
        <b-form-input
          id="weight"
          v-model="newGrade.weight"
          min="0"
          max="1"
          step="0.05"
          required
          type="number"
          placeholder="Enter grade weight"
        ></b-form-input>
      </b-form-group>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ["id"],
  data() {
    return {
      newGrade: {
        value: null,
        weight: null,
        Subjects_idSubjects: null,
        Students_idStudents: this.id
      },
      grades: [
        {
          value: null,
          weight: null,
          subject: null
        }
      ],
      subjects: []
    };
  },
  mounted() {
    axios.get(`http://localhost:3000/subjects`).then(res => {
      res.data.map(subject => {
        this.subjects.push({ value: subject.idSubjects, text: subject.Name });
      });
    });

    axios.get(`http://localhost:3000/students/${this.id}/grades`).then(res => {
      this.grades = res.data;
    });
  },
  methods: {
    addGrade() {
      axios
        .post(`http://localhost:3000/students/${this.id}/grades`, this.newGrade)
        .then(alert(`Succesfully added grade. Reload page.`));
    }
  }
};
</script>
